@import "./_theme.scss";
@import "./_config.scss";

body {
	width: 100vw;
	height: 100vh;
}
#root {
	width: 100%;
	height: 100%;
}

//Center Genérico
.center {
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	text-align-last: center;
}
.center-vertical {
	align-self: center;
}
.center-horizontal {
	text-align: center;
	text-align-last: center;
}

//barra dos favoritos
.scrollbar {
	overflow: scroll;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: auto;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.1);
	}
}

//barra dos favoritos
.scrollbarY {
	@extend .scrollbar;
	overflow-x: hidden;
}
