.cardBox {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	background-color: var(--backgroundPaper);

	.messageViewer {
		flex-grow: 1;
		overflow-y: auto;
	}
	.messageSend {
		flex-grow: 0;
	}
	.message {
		word-break: break-all;
	}
	.inputText {
		overflow: hidden;
		overflow-wrap: break-word;
		resize: none;
	}
}
