$menuWidth: 48px;
$headerHeight: 24px;

.menuBar {
	//theme.palette.background.ground;
	background-color: var(--backgroundGround);
	display: flex;
	width: 100%;
	height: 100%;

	//barra superior
	.appBar {
		background-color: var(--backgroundGround);
		background-image: none;
		box-shadow: none;
		display: flex;
		flex-direction: row;

		.logo {
			width: 45px;
			height: 32px;
			margin: -8px 10px 0px 0px;
			border-radius: 8px;
		}
	}

	//barra lateral
	.nav {
		margin-top: $headerHeight;
		width: $menuWidth;
		display: flex;
		flex-direction: column;

		.itemIcon {
			flex: 0;
			padding-left: 12px;
		}

		.itemImage {
			padding-left: 1px;
		}

		.favList {
			width: $menuWidth;
			flex: 1;
			// itens dos favoritos
		}
	}

	//div de conteudo
	.content {
		background-color: var(--background);
		flex-grow: 1;
		border-radius: 4px;
		width: calc(100% - $menuWidth);
		height: calc(100% - $headerHeight);
		margin-top: $headerHeight;
	}
}
