.personagem-card {
	background-color: #8b0000; /* Vermelho escuro */
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 200px;
	height: 300px; /* Altura aumentada para 400px */
	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* Alinha o conteúdo no final do card */
	position: relative; /* Para posicionar o botão de deletar corretamente */

	.personagem-img {
		width: 100%;
		height: 80%;
		object-fit: cover;
	}
	.personagem-title {
		text-align: center;
		margin: 0;
		padding-bottom: 10px; /* Adiciona um espaço entre a imagem e o texto */
	}

	.personagem-delete {
		background-color: transparent;
		color: #8b0000;
		position: absolute;
		top: 10px;
		right: 10px;
		float: right;
	}
}
