//importa theme
@import "../../../_theme";

.messageChat {
	background-color: transparent;
	/* Estilos para o modo escuro */
	&:hover {
		background-color: $highlight;
	}
}
.messageSystem {
	// background-color: darkgreen;
	/* Estilos para o modo escuro */
	&:hover {
		background-color: $highlight;
	}
}
.messageError {
	// background-color: darkred;
	/* Estilos para o modo escuro */
	&:hover {
		background-color: $highlight;
	}
}

.messageRoll {
	// background-color: darkblue;
	.dice4 {
	}
	.dice6 {
	}
	.dice8 {
	}
	.dice10 {
	}
	.dice12 {
	}
	.dice20 {
	}
	.dice100 {
	}
	/* Estilos para o modo escuro */
	&:hover {
		background-color: $highlight;
	}
}
