@import "../_theme";

.imageSelectAndCropModal {
	position: absolute;
	height: 80%;
	width: 80%;
	background-color: $background-paper-dark;
	border: 2px solid;
	box-shadow: $background-ground-dark; //todo theme.shadows[5]
	padding: $spacing * 2 $spacing * 4 $spacing * 3;
	// transform: `translate(-5%, -5%)`;
	top: 10%;
	left: 10%;

	.posBottomRight {
		position: absolute;
		bottom: $spacing * 1;
		right: $spacing * 1;
	}
	.posTopLeft {
		position: absolute;
		top: $spacing * 1;
		left: $spacing * 1;
	}
	.posTopRight {
		position: absolute;
		top: $spacing * 1;
		right: $spacing * 1;
	}
	.posTopLeft2 {
		position: absolute;
		top: $spacing * 2 + 56px;
		left: $spacing * 1;
	}
	.posTopRight2 {
		position: absolute;
		top: $spacing * 2 + 56px;
		right: $spacing * 1;
	}
	.centerSlider {
		width: calc(100% - 160px);
		top: 23px;
		left: 80px;
		position: "absolute";
	}
}
