.room {
	height: 100%;
	width: 100%;
	display: flex;
	min-width: 452px;

	.roomElements {
		height: 100%;
		// max-width: 300px;
		// min-width: 200px;
		width: 200px;
		// flex: 1;
	}
	.roomArea {
		height: calc(100% - 50px);
		overflow-y: auto;
	}
	.roomOptions {
		height: 50px;
	}
}
